Source: libgtk2-unique-perl
Section: perl
Priority: optional
Maintainer: Ásbrú Project Team <contact@asbru-cm.net>
Uploaders: Peter J. Mello <admin@petermello.net>
Build-Depends: debhelper-compat (= 12), perl (>= 5.8.0),
 libgtk2-perl (>= 1:1.190), libextutils-depends-perl (>= 0.300),
 libextutils-pkgconfig-perl (>= 1.11), libunique-dev (>= 1.0.2),
 xauth (>= 1:1.0.3), xfonts-base (>= 1:1.0.0),xvfb (>= 2:1.5.1)
Standards-Version: 4.3.0
Homepage: http://gtk2-perl.sourceforge.net/
Vcs-Browser: https://gitlab.gnome.org/GNOME/perl-gtk2-unique
Vcs-Git: https://gitlab.gnome.org/GNOME/perl-gtk2-unique.git
Testsuite: autopkgtest-pkg-perl

Package: libgtk2-unique-perl
Architecture: any
Depends: libatk1.0-0 (>= 1.12.4), libcairo2 (>= 1.2.4),
 libfontconfig1 (>= 2.11), libfreetype6 (>= 2.2.1),
 libgdk-pixbuf2.0-0 (>= 2.22.0), libglib2.0-0 (>= 2.24.0),
 libgtk2-perl (>= 1:1.190), libgtk2.0-0 (>= 2.8.0), libpango-1.0-0 (>= 1.14.0),
 libpangocairo-1.0-0 (>= 1.14.0), libpangoft2-1.0-0 (>= 1.14.0),
 libunique-1.0-0 (>= 1.0.2), ${perl:Depends}, ${shlibs:Depends}, ${misc:Depends}
Homepage: https://metacpan.org/release/Gtk2-Unique
Description: module for single instance applications
 Gtk2::Unique is a Perl interface to the libunique library, which provides a
 way to write single instance applications. If you launch a single instance
 application twice, the second instance will either quit or send a message to
 the running instance.
