#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = future=+lfs hardening=+all reproducible=+fixfilepath
MAN2POD := perl "-MExtUtils::Command::MM" -e pod2man "--" -u --section=3pm
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk


%:
	dh $@


override_dh_auto_build:
	dh_auto_build
	$(MAN2POD) blib/lib/Gnome2/Vte/index.pod blib/man3/Gnome2::Vte::index.3pm
	$(MAN2POD) blib/lib/Gnome2/Vte/Terminal.pod blib/man3/Gnome2::Vte::Terminal.3pm
	$(MAN2POD) blib/lib/Gnome2/Vte/main.pod blib/man3/Gnome2::Vte::main.3pm
	perl "-MExtUtils::Command::MM" -e pod2man "--" -u --name=Gnome2::Vte --section=3pm \
		Vte.pm blib/man3/Gnome2::Vte.3pm
	chmod 0644 blib/man3/Gnome2::Vte*
