# CudaText (project files are user-specific)
*.cuda-proj

# Kate (ignore swap files for open files)
.*.kate-swp
.swp.*

# Sublime Text 2/3
## Cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
## Package Control-specific files
Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.cache/
Package Control.ca-certs/
Package Control.merged-ca-bundle
Package Control.user-ca-bundle
oscrypto-ca-bundle.crt
bh_unicode_properties.cache
## SFTP configuration/credentials file
sftp-config.json
## Sublime-github package stores your token in plain text here
GitHub.sublime-settings
## Workspace files are user-specific
*.sublime-workspace

# Visual Studio Code (all but four files are installation-specific)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Don't ever accidentally publish your GPG secret keyring!!
secring.*

# Project specific files
asbru-cm/tmp
*/debian/.debhelper
*/debian/*.debhelper.log
*/debian/debhelper-build-stamp
*/debian/files
*/debian/*.substvars
