#!/usr/bin/make -f

DEB_BUILD_MAINT_OPTIONS = future=+lfs hardening=+all reproducible=+fixfilepath
DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS DH_VERBOSE

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk


%:
	dh $@
