Source: libgtk2-gladexml-perl
Section: perl
Priority: optional
Maintainer: Ásbrú Project Team <contact@asbru-cm.net>
Uploaders: Peter J. Mello <admin@petermello.net>
Build-Depends: debhelper-compat (= 12), perl (>= 5.8.0), xvfb (>= 2:1.5.1),
 libglade2-dev (>= 1:2.6.2), libglib-perl (>= 1:1.190), man-db (>= 2.5.2),
 libgtk2-perl (>= 1:1.190), libextutils-depends-perl (>= 0.300),
 libextutils-pkgconfig-perl (>= 1.11), xauth (>= 1:1.0.3),
 xfonts-base (>= 1:1.0.0)
Standards-Version: 4.3.0
XSBC-Original-Maintainer:
 Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Homepage: http://gtk2-perl.sourceforge.net/
Vcs-Browser: https://gitlab.gnome.org/GNOME/perl-gtk2-gladexml
Vcs-Git: https://gitlab.gnome.org/GNOME/perl-gtk2-gladexml.git
Testsuite: autopkgtest-pkg-perl

Package: libgtk2-gladexml-perl
Architecture: any
Depends: libglade2-0 (>= 1:2.6.2), libglib-perl (>= 1:1.190),
 libgtk2-perl (>= 1:1.190), ${perl:Depends}, ${shlibs:Depends}, ${misc:Depends}
Homepage: https://metacpan.org/release/Gtk2-GladeXML
Description: Perl interface to use user interfaces created with glade-2
 Gtk2::GladeXML allows a Perl developer to use the GladeXML part of
 the libglade library.
 .
 Glade is a free user interface builder for Gtk+ and GNOME. After designing
 a user interface with glade-2 the layout and configuration are saved in an
 XML file. libglade is a library which knows how to build and hook up the
 user interface described in the Glade XML file at application run time.
 .
 This module even allows developers to load a interface definition into a
 scalar to customize them just before loading the application itself.
 .
 The perl bindings follow the C API very closely, and the C reference
 documentation should be considered the canonical source:
 http://developer.gnome.org/doc/API/2.0/libglade/index.html
 .
 This module is part of gtk2-perl. To discuss gtk2-perl, ask questions and
 flame/praise the authors, join gtk-perl-list@gnome.org at lists.gnome.org.
